.add-form-list {
  padding-bottom: 2em;
  .form-row {
    padding-left: 5px;
    padding-right: 5px;
  }
  .header {
    h5, label {
      padding-left: 0.9em;
    }
  }
  .body {
    padding: 2em 0 0 0;
    .list-header {
      .name {}
      .default {}
      .actions {}
    }
  }
}