/* Landing page */
.landing-page {
  overflow: hidden;
  margin-top: -6em;
  font-size: 18px;
}

.landing-page .hero {
  padding: 2rem 1rem 0;
  background-color: var(--blue);
  
  .welcome {
    color: #eaeaeb;
    z-index: 2;
  }

  .welcome header {
    margin: 5rem 0 1.25rem;
  }

  .welcome h1 {
    padding-top: 1em;
    color: #eaeaeb;
  }

  .welcome p {
    font-size: 18px;
    font-weight: 200;
  }

  .signup {
    z-index: 2;
    background-color: var(--white);
    color: var(--primary-color);
    padding: 2.5rem 2rem 0.25rem;
    border-radius: 0.5rem;

    form {
      padding-top: 2em;
    }
    .form-group {
      padding: 0.1em 0 0;
    }
  }

  .welcome .welcome-images {
    margin: 1.5rem 0;
  }

  .welcome .welcome-images-item {
    margin-top: 2em;
    width: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 33.33%;

    .welcome-image-text {
      margin-top: 1em;
    }
  }

  @media only screen and (min-width: 480px) {
    .welcome .welcome-images-item {
      width: 120px;
    }
  }

  .welcome .welcome-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 64px;
    width: 64px;
  }

}

.landing-page .sell header,
.landing-page .contact header {
  margin: 1rem 0 0;
}

.landing-page .sell {
  background-color: var(--white);
  
  hr {
    border-color: #30303c;
  }
  p {
    margin-bottom: 3rem;
  }
}

.landing-page .features {
  background-color: var(--white);
  
  .container {
    margin: 3rem auto;
  }

  .feature {
    margin-bottom: 3rem;
  }

  .feature-image-row {
    margin-bottom: 1.5rem;
  }

  .feature-image {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin: 0 auto;

    &__small {
      background-size: 100%;
    }
  }

  .feature-title-row h4 {
    // color: var(--primary-color);
  }

}

.landing-page .contact {
  color: var(--white);
  padding: 100px 0;
  background-color: var(--blue);

  a {
    color: #15162d;
    text-decoration: none;
  }

  a:hover {
    color: lighten($color: #15162d, $amount: 30);
    text-decoration: none;
  }

  h1 {
    color: var(--white);
  }

  header {
    display: flex;
    justify-content: center;
    h2 {
      display: flex;
      margin-bottom: 0.5em;
    }
  }

  p {
    line-height: 1.4em;
  }
  
  .container {
    margin: 1.5rem auto 6rem;
  }
  
  .form {
    margin-top: 3rem;
  }
  
  .form .input-group input::placeholder {
    color: #fff;
  }
  
  .form .input-group input,
  .form .input-group-btn button,
  .form .input-group-btn button:hover {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
    border-bottom-color: rgb(66, 66, 98);
    border-bottom-color: #fff;
    border-radius: 0;
  }
}
