.btn.btn-oauth-login {
  display: flex;
  text-align: left;
  padding: 0.6em 1em;
  // background-color: var(--white);
  margin: 0.4em 0;
  border: 2px solid rgba(0,0,0, 0.2);
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  border-radius: 1px;
  
  &--small {
    flex: 0 0 49%;

    @media screen and (max-width: 567px) {
      flex: 1 0 auto;
    }
  }

  .mdi {
    margin-right: 1em;
    position: relative;
    top: -1px;
  }
  .text {
    .brand {
      font-weight: bold;
    }
  }
}