// Fonts
$font-family-sans-serif:  system-ui, -apple-system, 'Inter', sans-serif;
$font-family-base: system-ui, -apple-system, 'Inter', sans-serif;

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$orange: #F6BC72;
$blue: #00AAC3;
$purple: #6C63FF;
$primary-color: #221F48;
$primary-button-color: #6264eb;
$color-danger: #fc7885;
$footer-bg: #2A2F38;
$hero-bg: #27283C;
$brown:    #15162d;
$brown-light:#f6f6f6;
$body-color: #404040;
$headings-color: $body-color;

// Inputs
$input-color: $primary-color;
$input-font-weight: bold;

// Buttons
$btn-padding-x: 2em;
$border-radius: 4px;
$border-radius-lg: 4px;
$border-radius-sm: 4px;
$btn-border-width: 0;
$btn-font-weight: 600;

$dropdown-link-active-bg: $gray-300;
$dropdown-link-active-color: $black;

// Table
$table-th-font-weight: 600;

// Headings
$h1-font-size: 32px;
$h2-font-size: 28px;
$h3-font-size: 24px;
$h4-font-size: 22px;
$h5-font-size: 18px;
$h6-font-size: 1em;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1290px
);
