#navbar-main {
  background-color: var(--brown-light);
}

.main-nav-sidebar ~ .sidebar-layout-content {
  padding-left: 0;
  margin-top: -2em;
  padding-bottom: 8em;
  margin-left: calc(var(--bs-gutter-x, 0.75rem) * -1);
  margin-right: calc(var(--bs-gutter-x, 0.75rem) * -1);
  @media screen and (min-width: 576px) {
    width: 84vw;
  }
  >.container {
    width: 100%;
    max-width: none;
    margin-left: var(--bs-gutter-x, 0.75rem);
    margin-right: var(--bs-gutter-x, 0.75rem);
    padding-left: 4em;
    padding-right: 2em;
    @media screen and (max-width: 576px) {
      padding-left: var(--bs-gutter-x, 0.75rem);
      padding-right: var(--bs-gutter-x, 0.75rem);
    }
  }
}

.sidebar-layout-content {
  width: 100%;
  margin-left: 0;
  margin-right: 0;

  .breadcrumb-sector {
    margin-top: 54px;
  }

  .content-header > h1 {
    margin-top: 62px;
  }

  .container-fluid {
    @media screen and (max-width: 576px) {
      padding-left: var(--bs-gutter-x, 0.75rem);
      padding-right: var(--bs-gutter-x, 0.75rem);
    }
  }

  >.container {
    width: 100%;
    max-width: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    @media screen and (max-width: 576px) {
      padding-left: 0;
      padding-right: 0;
    }
  }


  > .container-fluid {
    > .container {
      @media screen and (max-width: 576px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  @media screen and (max-width: 576px) {
    padding-left: 0em;
  }
}

.breadcrumb-sector {
  padding-top: 1em;
}


.main-nav-sidebar {
  width: 250px;
  box-sizing: border-box;
  padding: 3.5em 0;
  margin-left: -1em;
  margin-top: -2em;
  min-height: calc(100vh - 100px);
  background-color: var(--brown-light);

  .nav-item {
    .nav-link {
      margin: 0.2em 15px 0.2em 0;
      color: var(--bs-body-color);
      font-weight: 500;
      border-radius: 0 6px 6px 0;

      &.active {
        font-weight: 600;
        background-color: #ECECEC;
      }
    }
  }
  .sub-menu {
    flex-direction: column;
    margin-top: -0.2em;
    background-color: var(--brown-light);

    .nav-item {
      margin-left: 0;
      margin-right: 0;
      .nav-link {
        padding-left: 2.5em;
        margin: 0;
        text-align: left;
        border-radius: 0;
        background-color: var(--brown-light);
        &.active {
          font-weight: 600;
          background: none;
          border-radius: 0;
          background-color: rgb(252, 252, 252);
        }
        &:focus {
          border: none;
          box-shadow: none;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
      display: none;
  }

  .nav-link {
    padding-left: 55px;
    padding-right: 2em;
    &.active {
      background-color: var(--white);
    }
  }
}