.about-us {
  .bg-color {
    &::before {
      height: 140%;
      top: -5%;
    }
  }

  .hero {
    margin-bottom: 0em;
    color: var(--white);
    
    .welcome {
      h1 {
        color: var(--white);
      }
      header {
        margin-top: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
  .features {
    margin-top: 4rem;
  }
  .contact {
    margin-top: 4em;
    color: var(--white);
  }
  .sell {
    margin-left: -15px;
    margin-right: -15px;
  }
  .section-title {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .feature-title-row h4 {
    font-weight: 300;
  }
  .feature-image,
  .features .feature-image {
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center center;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    .mdi {
      font-size: 55px;
      &::before {
        font-size: 50px;
        color: #343436;
      }
    }
  }
  .feature-image {
    background-color: var(--orange);
    margin: 0 auto;
    &--orange {
      background-color: rgb(54, 54, 54);
    }
  }
}