.files-navigator {

  .hljs {
    max-width: 80vw;

    @media screen and (max-width: 576px) {
      max-width: 93vw;
    }
  }
  .hljs-ln-numbers {
    padding-right: 10px;
  }

  .download-file {
    .mdi::before {
      font-size: 60px;
    }
  }
  table.table {
    tbody {
      tr {
        border-bottom: var(--bs-gray-300);
        &:hover {
          background-color: var(--bs-gray-100);
        }
      }
    }
  }
}
